---
import "../styles/index.css";
import Main from "../layouts/MainLayout.astro";

import { Picture, getImage } from "astro:assets";
import Grunge from "../components/grundgeBorder.astro";

import Trip_1 from "../assets/images/home/trips/1.png";
import Trip_2 from "../assets/images/home/trips/2.png";
import Trip_3 from "../assets/images/home/trips/3.png";

import Experience_1 from "../assets/images/home/experiences/1.jpg";
import Experience_2 from "../assets/images/home/experiences/2.jpg";
import Experience_3 from "../assets/images/home/experiences/3.jpg";
import Experience_4 from "../assets/images/home/experiences/4.jpg";
import Experience_5 from "../assets/images/home/experiences/5.jpg";
import Experience_6 from "../assets/images/home/experiences/6.jpg";
import Experience_7 from "../assets/images/home/experiences/7.jpg";
import Experience_8 from "../assets/images/home/experiences/8.jpg";

import Feature_1 from "../assets/images/home/features/1.png";
import Feature_2 from "../assets/images/home/features/2.png";
import Feature_3 from "../assets/images/home/features/3.png";

import Profile from "../assets/images/home/profile.png";

import HomeBG from "../assets/images/home/home.jpg";
import AboutBG from "../assets/images/home/about.jpg";

const homeBackground = await getImage({
   src: HomeBG,
   format: "avif",
});
const aboutBackground = await getImage({
   src: AboutBG,
   format: "avif",
});
---

<Main>
   <section id="home" style=`--bg-url: url(${homeBackground.src});`>
      <Grunge grunge="btm" id="home" />

      <div class="page-title">
         <h2>Discover a hidden Paradise</h2>
         <h1>
            <span>Deep South West,</span>
            <span>Dominican Republic</span>
         </h1>
         <button class="btn">
            <span>Book Now</span>
         </button>
      </div>
   </section>
   <section id="trips">
      <div class="trips-container">
         <div class="trip-box">
            <Picture
               src={Trip_1}
               alt="Trip icon"
               formats={["webp"]}
               loading="eager"
            />
            <p>Day-Trips</p>
         </div>
         <div class="trip-box">
            <Picture
               src={Trip_2}
               alt="Trip icon"
               formats={["webp"]}
               loading="eager"
            />
            <p>Multi-day Trips</p>
         </div>

         <div class="trip-box">
            <Picture
               src={Trip_3}
               alt="Trip icon"
               formats={["webp"]}
               loading="eager"
            />
            <p>Private tours</p>
         </div>
      </div>
   </section>
   <section id="about" style=`--bg-url: url(${aboutBackground.src});`>
      <Grunge grunge="btm top" id="about" />

      <div class="about-container">
         <div class="about-content">
            <div class="section-title">
               <h2>Welcome to the Deep Southwest</h2>
            </div>
            <p>
               Discover with EcoTour Barahona, your specialist in Ecotourism a
               new face of the Dominican Republic, more human, more authentic!
            </p>
            <p>
               We have artistically designed unique excursions for you,
               accompanied by professional and passionate local guides who will
               show you the best of this part of the country.
            </p>
            <button class="btn">
               <span>Know More</span>
            </button>
         </div>

         <div class="about-video">
            <div class="about-video-wrapper">
               <video
                  src="/videos/about.mp4"
                  id="about-video"
                  poster="/images/home/about-cover.png"
                  muted></video>
               <div class="video-controls-wrapper">
                  <div class="video-controls">
                     <div class="play-btn-wrapper">
                        <i class="fa-solid fa-pause fa-play play-btn"></i>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="experiences">
      <div class="section-title">
         <h2>Featured Travel Experiences</h2>
      </div>

      <div class="experiences-container">
         <div class="row">
            <div class="experience-card">
               <Picture
                  src={Experience_1}
                  alt="Experience location"
                  formats={["webp"]}
                  loading="eager"
               />
               <div class="content">
                  <p>Garden of Eden</p>
                  <span>$55</span>
               </div>
            </div>
            <div class="experience-card">
               <Picture
                  src={Experience_2}
                  alt="Experience location"
                  formats={["webp"]}
                  loading="eager"
               />
               <div class="content">
                  <p>Garden of Eden</p>
                  <span>$60</span>
               </div>
            </div>
            <div class="experience-card">
               <Picture
                  src={Experience_3}
                  alt="Experience location"
                  formats={["webp"]}
                  loading="eager"
               />
               <div class="content">
                  <p>Garden of Eden</p>
                  <span>$99</span>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="experience-card">
               <Picture
                  src={Experience_4}
                  alt="Experience location"
                  formats={["webp"]}
                  loading="eager"
               />
               <div class="content">
                  <p>Garden of Eden</p>
                  <span>$99</span>
               </div>
            </div>
            <div class="experience-card">
               <Picture
                  src={Experience_5}
                  alt="Experience location"
                  formats={["webp"]}
                  loading="eager"
               />
               <div class="content">
                  <p>Garden of Eden</p>
                  <span>$105</span>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="experience-card">
               <Picture
                  src={Experience_6}
                  alt="Experience location"
                  formats={["webp"]}
                  loading="eager"
               />
               <div class="content">
                  <p>Garden of Eden</p>
                  <span>$105</span>
               </div>
            </div>
            <div class="experience-card">
               <Picture
                  src={Experience_7}
                  alt="Experience location"
                  formats={["webp"]}
                  loading="eager"
               />
               <div class="content">
                  <p>Garden of Eden</p>
                  <span>$119</span>
               </div>
            </div>
            <div class="experience-card">
               <Picture
                  src={Experience_8}
                  alt="Experience location"
                  formats={["webp"]}
                  loading="eager"
               />
               <div class="content">
                  <p>Garden of Eden</p>
                  <span>$295</span>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="features">
      <div class="section-title">
         <h2>Why book with EcoTour Barahona?</h2>
      </div>

      <Grunge grunge="btm top" id="home" />

      <div class="features-container">
         <div class="feature-card">
            <Picture
               src={Feature_1}
               alt="Feature icon"
               formats={["webp"]}
               loading="eager"
            />
            <p>
               Our day trips not only allow you to visit the Southwest, but also
               to experience it.
            </p>
         </div>
         <div class="feature-card">
            <Picture
               src={Feature_2}
               alt="Feature icon"
               formats={["webp"]}
               loading="eager"
            />
            <p>
               There are guided by professional and passionate Dominicans and
               show you the best and unexpected sides of the Dominican Republic.
            </p>
         </div>
         <div class="feature-card">
            <Picture
               src={Feature_3}
               alt="Feature icon"
               formats={["webp"]}
               loading="eager"
            />
            <p>
               Benefit from small group sizes and guaranteed weekly departures.
            </p>
         </div>
      </div>
   </section>
   <section id="opinions">
      <div class="opinions-container">
         <div class="row title">
            <div class="section-title">
               <h2>Opinions from previous visitors</h2>
            </div>
            <button class="btn">
               <span>See all opinions</span>
            </button>
         </div>
         <div class="row opinion">
            <Picture
               src={Profile}
               alt="Trip icon"
               formats={["webp"]}
               loading="eager"
            />
            <div class="content">
               <p class="name">Alberto Johnson</p>
               <p class="title">
                  Lorem ipsum dolor sit amet consectetur adipisicing
               </p>
               <span
                  >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Accusantium, dolores vitae officiis hic recusandae eos?</span
               >
            </div>
         </div>
      </div>
   </section>
   <section id="book">
      <Grunge grunge="btm" id="home" />

      <div class="book-container">
         <div class="title">
            <!-- <img src="/images/home/calendar.png" alt="" /> -->
            <div class="section-title">
               <h2>Book Now</h2>
               <h2>Lorem ipsum dolor sit</h2>
            </div>
         </div>
         <button class="btn invert">
            <span>Check the dates</span>
         </button>
      </div>
      <p class="elem">elem</p>
   </section>

   <script src="/src/scripts/videoPlayer.js"></script>
</Main>
