---
import { getImage } from "astro:assets";
import grungeBdTop from "../assets/images/grunge/top.png";
import grungeBdBtm from "../assets/images/grunge/btm.png";

const grungeBdTopImg = await getImage({
   src: grungeBdTop,
   format: "avif",
});
const grungeBdBtmImg = await getImage({
   src: grungeBdBtm,
   format: "avif",
});

const { grunge, id } = Astro.props;
---

<div class="grunge-border" data-grunge={grunge} data-id={id}></div>
<script define:vars={{ id, grungeBdTopImg, grungeBdBtmImg }}>
   const gb = document.querySelector(`.grunge-border[data-id="${id}"]`);
   const data = gb.getAttribute("data-grunge").split(" ");

   data.forEach((val) => {
      console.log(val);
      let img = "";
      if (val == "top") {
         img = grungeBdTopImg.src;
      } else if (val == "btm") {
         img = grungeBdBtmImg.src;
      }

      gb.style.cssText = `--gb-url-${val}: url(${img});`;

      gb.classList.add(val);
   });
</script>
